{% load static %}
<section class="blogcontent">
    <div class="wrapper">
        <div class="blogcontent__cont">
            <div class="blog__contentcont">
                <div class="blog__news">

                </div>
            </div>
            <div class="blog__menucont">
                <div class="blog__menu">
                    <div class="blog__conttop">
                        <h1>Категории</h1>
                    </div>
                    <div class="blogline_menu"></div>
                    <div class="blog__contbottom">
                        <a href="#"><p class="blog__cattx">Арбитраж трафика</p></a>
                    </div>
                </div>
                <div class="blog__menu">
                    <div class="blog__conttop">
                        <h1>Теги</h1>
                    </div>
                    <div class="blogline_menu"></div>
                    <div class="blog__contbottom">
                        <a href="#">
                            <div class="blog__tegcont">
                                <p class="blog__tegtx">#Firefox</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="blog__menu">
                    <div class="blog__conttop">
                        <h1>Фильтры</h1>
                    </div>
                    <div class="blogline_menu"></div>
                    <div class="blog__contbottom">
                        <a href="#"><p class="blog__filtertx">Сначала новые</p></a>
                    </div>
                </div>
                <div class="blog__menu">
                    <div class="blog__conttop">
                        <h1>Последние записи</h1>
                    </div>
                    <div class="blogline_menu"></div>
                    <div class="blog__contbottom">
                        <a href="#"><p>Заглушка</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
