{% load static %}
<footer>
    <div class="wrapper">
        <div class="footer__logo">
            <img src="{% static 'main/img/logo.svg' %}" alt="">
            <p>BURST PROXY</p>
        </div>
        <div class="footer__nav">
            <ul>
                <li><a href=""><p>Главная</p></a></li>
                <li><a href=""><p>О нас</p></a></li>
                <li><a href=""><p>Блог</p></a></li>
                <li><a href=""><p>Тарифы</p></a></li>
                <li><a href=""><p>FAQ</p></a></li>
                <li><a href=""><p>Калькулятор прокси</p></a></li>
            </ul>
            <ul>
                <li><a href=""><p>Оферта</p></a></li>
                <li><a href=""><p>Лицензионное соглашение</p></a></li>
            </ul>
        </div>
    </div>
    <div class="footer__line"></div>
    <div class="wrapper">
        <div class="footer__under">
            <div class="footer__contacts">
                <p>Контакты:</p>
                <img class="" src="{% static 'main/img/telegram.svg' %}" alt="">
                <img class="footer__contacts__img" src="{% static 'main/img/gmail.svg' %}" alt="">
            </div>
            
            <div class="footer__support__main__text">
                <p>Поддержка: burstproxy@support.com</p>
            </div>
        </div>
        <div class="footer__payment">
            <div class="footer__uniteller footer__payments__back ">
                <img class="footer__uniteller__img" src="{% static 'main/img/uniteller.svg' %}" alt="error">
            </div>
            <div class="footer__webmoney footer__payments__back footer__visa__mc__wm">
                <img class="footer__webmoney__img" src="{% static 'main/img/webmoney.svg' %}" alt="error">
                <p class="footer__webmoney__text">WebMoney</p>
            </div>
            <div class="footer__mir footer__payments__back footer__visa__mc__wm">
                <img class="footer__mir__img" src="{% static 'main/img/mir.png' %}" alt="error">
            </div>
            <div class="footer__visa footer__payments__back footer__visa__mc__wm">
                <img class="footer__visa__img" src="{% static 'main/img/visa.svg' %}" alt="error">
            </div>
            <div class="footer__mastercard footer__payments__back footer__visa__mc__wm">
                <img class="footer__mastercard__img" src="{% static 'main/img/mastercard.svg' %}" alt="error">
            </div>
            <div class="footer__support__secondary__text">
                <p>ИП Артемьев Александр Дмитриевич</p>
                <p>ОГРНИП 543346745745745</p>
            </div>
        </div>
    </div>
</footer>