{% load static %}
<div class="cont__head"></div>
<header>
    <div class="head__wrapper">
        <div class="head__cont">

            <div class="logo__cont">
                <img src="{% static 'main/img/logo_text.svg' %}" alt="logo_text">
            </div>
            <div class="site__nav">
                <a href="/#main"><p>Главная</p></a>
                <a href="/#about"><p>О нас</p></a>
                <a href="/#tarifs"><p>Тарифы</p></a>
                <a href="/#faq"><p>FAQ</p></a>
                <a href="/#calculate"><p>Калькулятор прокси</p></a>
                <a href="/blog/all"><p>Блог</p></a>
            </div>
            <div class="reglog__cont">
                <a href="https://lteproxy.store/lk/auth"><p>Войти</p></a>
                    <a href="https://lteproxy.store/lk/reg.php">
                        <div class="reg__btn">
                            <p>Регистрация</p>
                        </div>
                    </a>
            </div>
                
        </div>
    </div>
</header>