{% extends 'blog/layoutblog.html' %}

{% block content %}
<!--Хэдер-->
{% include 'blog/headerblog.html' %}
<!--Главная панель-->
{% include 'blog/mainpanel.html' %}

<div class="head__wrapper">
    <!--Белый задник-->
    <div class="news__extentedcont">
        <!--Основной контейнер-->
        <div class="nextented__cont">
            <!--Теги-->
            <div class="news__tag">
                <div class="news__tagtx">
                    <p>Политика</p>
                </div>
            </div>
            <h1>Cнова за своё...</h1>
            <img src="{% static 'blog/img/blogimg/0.jpg' %}" alt="0">
            <p>
                Хватит лгать!  Маргит снова повысил налоговую ставку, это происходило в 1200, 1210, 1323 г. с.д.р. (со дня Раскола). Сначала он поднял налоги из-за необходимости восстановления Лейндейла после окончания войны Раскола (1200 г.), после, из за начала острой пандемии безумия в северо-восточной части озерной Лиурнии, северо-западной части Вулканова поместья, а также под столицей, в ее сточных водах (1210 г.). Еще один инцидент заставил Маргита вновь повысить налоговую ставку, это произошло в 1323 г., когда большая часть западного Лейндейла была освобождена от мятежников Вулканова поместья. По словам самого Маргита, он потратил большую часть этих налогов на восстановение освобожденной территории и оккупации Вулканова поместья, но так ли это было на самом деле?<br>

                Гидеон всеведущий, согласился помочь нам в этом расследовании, по его словам “Что он снова замышляет...”, стало ясно, что это его не первая встреча с делами Маргита. Вместе с Гидеоном всеведущим мы опросили разные слои населения Лейндейла, чтобы узнать их мнение о действиях их правителя Маргита.<br>
                
                По результатам опросов, мы получили следующие данные об удовлетворенности действиями Маргита:<br>
                
                    Нижние слои населения: 10%<br>
                    Средний слой населения: 30%<br>
                    Высший слой населения: 70%<br>
                    Высокопоставленные лица: 90%<br>
                
                С полученными результатами ознакомились наши ведущие специалисты и Гидеон, после ознаколения с результатами, Гидеон высказал свое мнение: “Все ясно, без погасших нам не обойтись, это дело не ограничится одним лишь Маргитом”, после этих слов всему нашему составу стало ясно, что мы имеем дело с коррупцией!<br>
                
                Мы можем сделать предположение, что Маргит сговорился с высшими слоями населения, для того чтобы выкачивать руны с других его слоев. Но зачем это ему? Гидеон сделал предположение, что сговор может затронуть не только некий слой населения, но и такие известные личности как: Хора Лукс воитель, змей Рикард и даже Мог!<br>
                
                Погасшие, что же нас ждет в следующем году и куда Маргит направит руны с налогов теперь? Все подробности об этом расследовании вы сможете узнать в нашем хабе круглого стола: MI_DOVZNI_ZAT_PRAVDU, пароль: NET_KORUPCII.
            </p>
        </div>
    </div>
</div>

<!--{% include 'blog/footerblog.html' %}-->

{% endblock %}